{% extends 'base.html' %}

{% block content %}
<main class="main">
    <!--=============== BREADCRUMB ===============-->
    <section class="breadcrumb">
      <ul class="breadcrumb__list flex container">
        <li><a href="index.html" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link"></span>></li>
        <li><span class="breadcrumb__link">Shop</span></li>
      </ul>
    </section>

    <!--=============== PRODUCTS ===============-->
    <section class="products container section--lg">
      <p class="total__products">We found <span>688</span> items for you!</p>
      <div class="products__container grid">
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/shop-1-sweet-corn.webp"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/shop-1-sweet-corn.webp"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a
                href="#"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-pink">-25%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Grocery</span>
            <a href="details.html">
              <h3 class="product__title">Sweet Corn</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">₹14.00</span>
              <span class="old__price">₹24.00</span>
            </div>
            <a
              href="#"
              class="action__btn cart__btn"
              aria-label="Add To Cart"
            >
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/shop-2-good-life-refined-sunflower-oil.webp"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/shop-2-good-life-refined-sunflower-oil.webp"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a
                href="#"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-green">-20%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Grocery</span>
            <a href="details.html">
              <h3 class="product__title">Good Life Refined Sunflower Oil</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">₹139.00</span>
              <span class="old__price">₹245.00</span>
            </div>
            <a
              href="#"
              class="action__btn cart__btn"
              aria-label="Add To Cart"
            >
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/shop-3-cadbury-dairy-milk-home-treats-chocolate.webp"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/shop-3-cadbury-dairy-milk-home-treats-chocolate.webp"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a
                href="#"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-orange">-10%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Grocery</span>
            <a href="details.html">
              <h3 class="product__title">Cadbury Dairy Milk</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">₹103.00</span>
              <span class="old__price">₹150.00</span>
            </div>
            <a
              href="#"
              class="action__btn cart__btn"
              aria-label="Add To Cart"
            >
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/shop-4-aashirvaad-superior.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/shop-4-aashirvaad-superior.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a
                href="#"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-blue">-7%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Grocery</span>
            <a href="details.html">
              <h3 class="product__title">Aashirvaad superior whole wheat</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">₹238.00</span>
              <span class="old__price">₹245.00</span>
            </div>
            <a
              href="#"
              class="action__btn cart__btn"
              aria-label="Add To Cart"
            >
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/shop-5-geki-nissin-korean-kimchi-noodles.webp"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/shop-5-geki-nissin-korean-kimchi-noodles.webp"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a
                href="#"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-blue">-30%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Grocery</span>
            <a href="details.html">
              <h3 class="product__title">Geki nisin Korean kimchi noodles</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">₹23.00</span>
              <span class="old__price">₹34.00</span>
            </div>
            <a
              href="#"
              class="action__btn cart__btn"
              aria-label="Add To Cart"
            >
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/shop-6-maaza-mango-drink.webp"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/shop-6-maaza-mango-drink.webp"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a
                href="#"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-blue">-22%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Grocery</span>
            <a href="details.html">
              <h3 class="product__title">Maaza Mango Drink</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">₹44.00</span>
              <span class="old__price">₹55.00</span>
            </div>
            <a
              href="#"
              class="action__btn cart__btn"
              aria-label="Add To Cart"
            >
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/shop-7-button-mushroom-.webp"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/shop-7-button-mushroom-.webp"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a
                href="#"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-green">-22%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Grocery</span>
            <a href="details.html">
              <h3 class="product__title">Button Mushroom</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">₹38.00</span>
              <span class="old__price">₹45.00</span>
            </div>
            <a
              href="#"
              class="action__btn cart__btn"
              aria-label="Add To Cart"
            >
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/shop-8-tata--salt-.webp"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/shop-8-tata--salt-.webp"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a
                href="#"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
          </div>
          <div class="product__content">
            <span class="product__category">Grocery</span>
            <a href="details.html">
              <h3 class="product__title">Tata salt</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">₹23.00</span>
              <span class="old__price">₹44.00</span>
            </div>
            <a
              href="#"
              class="action__btn cart__btn"
              aria-label="Add To Cart"
            >
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/shop-9-stayfree-sanitary-napkin.jpg"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/shop-9-stayfree-sanitary-napkin.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a
                href="#"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-blue">-30%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Grocery</span>
            <a href="details.html">
              <h3 class="product__title">Stayfree Sanitary Napkin</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">₹238.00</span>
              <span class="old__price">₹245.00</span>
            </div>
            <a
              href="#"
              class="action__btn cart__btn"
              aria-label="Add To Cart"
            >
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/shop-10-vim-lemon-dishwash-liquid-.webp"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/shop-10-vim-lemon-dishwash-liquid-.webp"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a
                href="#"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-blue">-22%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Grocery</span>
            <a href="details.html">
              <h3 class="product__title">vim lemon dishwash liquid</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">₹230.00</span>
              <span class="old__price">₹240.00</span>
            </div>
            <a
              href="#"
              class="action__btn cart__btn"
              aria-label="Add To Cart"
            >
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/shop-11-indian-garlic.webp"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/shop-11-indian-garlic.webpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a
                href="#"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge light-green">-22%</div>
          </div>
          <div class="product__content">
            <span class="product__category">Grocery</span>
            <a href="details.html">
              <h3 class="product__title">Indian Garlic</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">₹108.00</span>
              <span class="old__price">₹145.00</span>
            </div>
            <a
              href="#"
              class="action__btn cart__btn"
              aria-label="Add To Cart"
            >
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
        <div class="product__item">
          <div class="product__banner">
            <a href="details.html" class="product__images">
              <img
                src="assets/img/shop-12-avocado-hass.webp"
                alt=""
                class="product__img default"
              />
              <img
                src="assets/img/shop-12-avocado-hass.webp"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" class="action__btn" aria-label="Quick View">
                <i class="fi fi-rs-eye"></i>
              </a>
              <a
                href="#"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
          </div>
          <div class="product__content">
            <span class="product__category">Grocery</span>
            <a href="details.html">
              <h3 class="product__title">Avacoda</h3>
            </a>
            <div class="product__rating">
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
            <div class="product__price flex">
              <span class="new__price">₹69.00</span>
              <span class="old__price">₹99.00</span>
            </div>
            <a
              href="#"
              class="action__btn cart__btn"
              aria-label="Add To Cart"
            >
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
          </div>
        </div>
      </div>
      <ul class="pagination">
        <li><a href="#" class="pagination__link active">01</a></li>
        <li><a href="#" class="pagination__link">02</a></li>
        <li><a href="#" class="pagination__link">03</a></li>
        <li><a href="#" class="pagination__link">...</a></li>
        <li><a href="#" class="pagination__link">16</a></li>
        <li><a href="#" class="pagination__link icon">
          <i class="fi-rs-angle-double-small-right"></i>
        </a></li>
      </ul>
    </section>

    <!--=============== NEWSLETTER ===============-->
    <section class="newsletter section">
      <div class="newsletter__container container grid">
        <h3 class="newsletter__title flex">
          <img
            src="./assets/img/icon-email.svg"
            alt=""
            class="newsletter__icon"
          />
          Sign in to Freshyy grocery
        </h3>
        <p class="newsletter__description">
          ...and receive %25 for first shopping.
        </p>
        <form action="" class="newsletter__form">
          <input
            type="text"
            placeholder="Enter Your Email"
            class="newsletter__input"
          />
          <button type="submit" class="newsletter__btn">Subscribe</button>
        </form>
      </div>
    </section>
  </main>
{% endblock content %}